<div class="sidenav">
   <div class="login-main-text">
      <h2>E-STOCK MARKET</h2>
      <p><i></i></p>
   </div>
   <div class="signup">
      <p>Register your company here?</p>
      <button type="submit" class="btn btn-block loginbtn" (click)="registerCompany()">Register</button>
   </div>
</div>
<div class="main">
   <div class="col-md-7 col-sm-12">
      <div class="login-form">
         <h2 class="login-form-heading">Login</h2>
         <img src="../../../assets/login.png" />
         <div class="card bg-light">
            <form [formGroup]="loginForm" class="login_form">
               <div class="form-group text-size-16">
                  <label>UserName</label>
                  <input type="text" formControlName="username" class="form-control" placeholder="User Name">
                  <div *ngIf="(loginForm.controls.username.touched) && loginForm.controls.username.errors?.required" class="text-danger">
                     <div>Please Enter Username</div>
                 </div>
               </div>
               <div class="form-group text-size-16">
                  <label>Email</label>
                  <input type="email" formControlName="email" class="form-control" placeholder="Email">
                  <div *ngIf="(loginForm.controls.email.touched) && loginForm.controls.email.errors?.required" class="text-danger">
                     <div>Please Enter Valid Email</div>
                 </div>
               </div>
               <div class="form-group text-size-16">
                  <label>Password</label>
                  <input type="password" formControlName="password" class="form-control" placeholder="Password">
                  <div *ngIf="(loginForm.controls.password.touched) && loginForm.controls.password.errors?.required" class="text-danger">
                     <div>Please Enter Password</div>
                 </div>
               </div>
               <button type="submit" class="btn btn-block loginbtn" (click)="onSubmit()">Login</button>
            </form>
         </div>
      </div>
   </div>
</div>