.img-stock{
    height: 6000px;
}
.search-image{
    background: url("../../../assets/search.png") no-repeat center right .5em;
}
.header-space{
    height: 50px;
}
.footer-space{
    height: 50px;
}
.header-midCard{
    height: 30px;
}